<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>Centos6.5 快速安装nginx+php+mysql.md</key>
			<dict>
				<key>lastModification</key>
				<real>499618608.36882001</real>
				<key>version</key>
				<dict>
					<key>783252840f6b6c86f6948398da5735c2a4055208ab2fbacc5e3eda92d10b5eb3</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Linux SSH免密码登录.md</key>
			<dict>
				<key>lastModification</key>
				<real>499619483.711698</real>
				<key>version</key>
				<dict>
					<key>783252840f6b6c86f6948398da5735c2a4055208ab2fbacc5e3eda92d10b5eb3</key>
					<integer>7</integer>
				</dict>
			</dict>
			<key>centos 更换yum源.md</key>
			<dict>
				<key>lastModification</key>
				<real>499618608.36881799</real>
				<key>version</key>
				<dict>
					<key>783252840f6b6c86f6948398da5735c2a4055208ab2fbacc5e3eda92d10b5eb3</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>linux命令格式.md</key>
			<dict>
				<key>lastModification</key>
				<real>499618608.368819</real>
				<key>version</key>
				<dict>
					<key>783252840f6b6c86f6948398da5735c2a4055208ab2fbacc5e3eda92d10b5eb3</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>linux日志查看笔记.md</key>
			<dict>
				<key>lastModification</key>
				<real>499618608.36882001</real>
				<key>version</key>
				<dict>
					<key>783252840f6b6c86f6948398da5735c2a4055208ab2fbacc5e3eda92d10b5eb3</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>linux设置静态IP地址.md</key>
			<dict>
				<key>lastModification</key>
				<real>499618608.368819</real>
				<key>version</key>
				<dict>
					<key>783252840f6b6c86f6948398da5735c2a4055208ab2fbacc5e3eda92d10b5eb3</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>无标题.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>499619512.27984899</real>
				<key>lastModification</key>
				<real>499619512.27984899</real>
				<key>version</key>
				<dict>
					<key>783252840f6b6c86f6948398da5735c2a4055208ab2fbacc5e3eda92d10b5eb3</key>
					<integer>12</integer>
				</dict>
			</dict>
			<key>查看linux 系统版本的命令.md</key>
			<dict>
				<key>lastModification</key>
				<real>499618608.36882001</real>
				<key>version</key>
				<dict>
					<key>783252840f6b6c86f6948398da5735c2a4055208ab2fbacc5e3eda92d10b5eb3</key>
					<integer>2</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>Linux SSH免密码登录.md</string>
			<string>无标题.md</string>
		</array>
		<array>
			<string>centos 更换yum源.md</string>
		</array>
		<array>
			<string>linux命令格式.md</string>
		</array>
		<array>
			<string>linux设置静态IP地址.md</string>
		</array>
		<array>
			<string>查看linux 系统版本的命令.md</string>
		</array>
		<array>
			<string>Centos6.5 快速安装nginx+php+mysql.md</string>
		</array>
		<array>
			<string>linux日志查看笔记.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>783252840f6b6c86f6948398da5735c2a4055208ab2fbacc5e3eda92d10b5eb3</key>
			<integer>12</integer>
		</dict>
	</dict>
</dict>
</plist>
